useDynLib(fmriproj, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(MASS, ginv)
export(fr_design_matrix)
export(fr_projector)
export(make_spmat_triplet)
export(spmat_dense_prod)

export(build_design_matrix)
export(make_trialwise_X)
export(build_projector)
export(adaptive_ridge_projector)
export(collapse_beta)

export(run_projected_searchlight)
export(mvpa_projected_searchlight)
export(combine_projection_diagnostics)
export(explain_projection_results)
export(hrf_basis_spmg3_theta)
export(optimize_hrf_mvpa)
export(optimize_joint_hrf_mvpa)
export(fit_pp)
export(predict_pp)
