useDynLib(fmriproj, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(fr_design_matrix)
export(fr_projector)
export(make_spmat_triplet)
export(spmat_dense_prod)

export(make_trialwise_X)
export(build_projector)
